<div class="container" *ngIf="cliente">
	<h2>{{title}}</h2>

	<div  class="alert alert-success" *ngIf="status== 'success'">
		El cliente se ha creado correctamente, puedes <a [routerLink]="['/cliente', save_cliente._id]">verlo aqui</a>
	</div>

	<div  class="alert alert-danger" *ngIf="status== 'failed'">
		El cliente se NO ha creado correctamente
	</div>

	<form #clienteForm="ngForm" (ngSubmit)="onSubmit(clienteForm)">
	
		  <div class="form-row">
		    <div class="form-group col-md-6">
		      <label for="nombre"> Nombre <span class="asterisco">(*)</span></label>
		      <input type="text" class="form-control" id="nombre"  name="nombre" #nombre="ngModel" [(ngModel)]="cliente.nombre" required>
			    <span *ngIf="nombre.touched && !nombre.valid"class="alert alert-danger">
			  	El nombre es obligatorio
			  	</span>
		    </div>

		    <div class="form-group col-md-6">
		      <label for="apellido">Apellido<span class="asterisco">(*)</span></label>
		      <input type="text" class="form-control" id="apellido"  name="apellido" #apellido="ngModel" [(ngModel)]="cliente.apellido" required>
		       <span *ngIf="apellido.touched && !apellido.valid"class="alert alert-danger">
			  	El apellido es obligatorio
			  	</span>
		    </div>
		  </div>


		  <div class="form-group">
		    <label for="direccion">Dirección: </label>
		    <input type="text" class="form-control" id="direccion" name="direccion" #direccion="ngModel" [(ngModel)]="cliente.direccion" >
		  </div>

		  <div class="form-group">
		    <label for="telefono">Telefono:</label>
		    <input type="number" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="cliente.telefono">
		  </div>

		  <div class="form-group">
		    <label for="Email">Correo electronico: <span class="asterisco">(*)</span></label>
		    <input type="Email" class="form-control" id="Email" name="Email" #Email="ngModel" 
		    [(ngModel)]="cliente.Email" required>
		    <span *ngIf="Email.touched && !Email.valid" class="alert alert-danger">
		  	El email es obligatorio
		  	</span>
		  </div>

		  <div class="form-group">
		    <label for="direccion">Fecha de nacimiento: <span class="asterisco">(*)</span></label>
		    <input type="date" class="form-control" id="direccion" name="fechaNacimiento" #fechaNacimiento="ngModel" [(ngModel)]="cliente.fechaNacimiento" required>
			  <span *ngIf="fechaNacimiento.touched && !fechaNacimiento.valid" class="alert alert-danger">
			  	La fecha de nacimiento es obligatoria
			  	</span>
		  </div>

		<div class="form-group">
		    <label for="image">Imagen: </label>
		    <div class="col-md-4" *ngIf="cliente.image"> 
				<img src="{{url+'get-image/'+ cliente.image }}" class="card-img-top" *ngIf="cliente.image" style="max-height: 500px;">
			</div>
			<br>
		    <input type="file" class="form-control" id="image" name="image" (change)="fileChangeEvent($event)">
		</div>

		<p>Todos los campos con <span class="asterisco">(*)</span> son obligatorios para poder continuar.</p>

		  <input type="submit" class="btn btn-primary" value="Enviar" [disabled]="!clienteForm.form.valid">
		</form>

		<br><br><br><br>
</div>